/* **************************
** HEADING
************************** */
u {
    background-color: white;
    border: 5px solid goldenrod;
    padding: 12px;
    box-shadow: 5px 5px 0px darkgoldenrod;
}
h1 {
    font-size:70px;
    text-align: center;
    color: goldenrod; 
}

/* **************************
** question
************************** */

#question {
    font-family: sans-serif;
    width: 50%;
    text-align: center;
    padding: 40px;
    border: 5px solid goldenrod;
    background-color: white;
    color: goldenrod;
    font-size: 24px;
    margin: 50px auto;
    box-shadow: 5px 5px 0px darkgoldenrod;
}

/* **************************
** answers
************************** */


#answer {
    width: 50%;
    margin:10px auto;
    color: white;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    border: 5px solid goldenrod;   
}
#answer ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}

#answer ul li {
    width: 40%;
    height: 40px;
    background-color: black;
    padding-top: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
    border: 2px solid goldenrod;
    font-size: 18px;
    cursor:pointer;
    box-shadow: 5px 5px 0px darkgoldenrod;
    font-family: arial
}
#answer ul li:hover {
    color: goldenrod;
}
#answer ul li:active {
    background-color: goldenrod;
    box-shadow: 5px 5px 0px darkgoldenrod#666;
    transform: translateY(3px);
}
/* **************************
** scoreboard
************************** */

#scores {
    display:flex;
    width: 40%;
    background-color: darkgoldenrod;
    justify-content: center;
    margin: 20px auto;
    border: 5px solid goldenrod;
}
#player1, #player2 {
    width: 50%;
    background-color: goldenrod;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    font-family: arial;
}

/* **************************
** Reset 
************************** */

#reset {
    width: 12%;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
    border: 5px solid goldenrod;
    cursor:pointer;
    /* box-shadow: 5px 5px 0px darkgoldenrod; */
    font-family: arial;
}
#reset:hover {
    color: crimson;
}
#reset:active {
    background-color: crimson;
    box-shadow: 0px 5px 5px darkgoldenrod;
    transform: translateY(4px);
}
/* **************************
** background
************************** */
body {
    background-image: url("https://t4.ftcdn.net/jpg/02/49/74/97/360_F_249749742_xwulcjcBmMBJw8KDgA6b5Feg66NHD2L1.jpg");    
}

@media (max-width: 568px) {
    h1{
        font-size: 2.1rem;
        padding: 10px; 
    }
    #question {
        font-size: 15px;
        padding: 1px;
        margin: 10px auto;
        width:98%;
    }
    #answer {
        padding: 1px;
        margin: 1px auto;
        width: 98%;
    }
    #answer ul {
        
        padding: 1px;
        margin: 10px auto;
        width: 100%;
    }
    #answer ul li {
        padding: 1px;
        margin: 10px auto;
        font-size: 14px;
    }
    #answer ul li:hover {
        color: white;
    }
    #scores {
        padding: 1px;
        margin: 10px auto;
        width: 80%;
    }
    #reset {
        padding: 1px;
        margin: 10px auto;
        width: 70%;
    }
    body {
        background-size: contain;
    }

  }